<% provide :page_name, "Создание заявки" %>

<div class="main_form">
  <h1>Опишите задачу:</h1>

  <%= render 'form_create_question', users: @question_responsibles %>
</div>

<script type="text/javascript" charset="utf-8">
    var obj = document.getElementById("nav-3")
    obj.classList.toggle("nav_border")
</script>