<% provide :page_title, 'Редактирование профиля' %>

<h1>Редактировать профиль </h1>

<div class="edit-profile">
  <div class="image-profile hover-image-scale">
    <%= image_tag("Sasha.png", class: 'hover-image-scale') %>
    <a href="#" class="btn btn-danger mt-4">Изменить</a>
  </div>

  <div class="edit-profile-form">
    <%= render 'form' %>
  </div>
</div>
