<h1 class="text-center">Добро пожаловать на бета-тестирование S-Team!</h1>
<p>Система активно дополняется новым функционалом и наполняется контентом</p>
<p>Если вы обнаружили техническую проблему или у вас есть интересное предложение для улучшения системы, напишите нам!</p>
<p><%= Time.now.year %></p>