@import "bootstrap";
@import "bootstrap-sprockets";


::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background-color: #6c757d;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 12px 0 rgba(0, 51, 122, 183);
}



.login{
  background-color: #e2e2e2;
}

html{
  height: 100%;
}

body{
  font-family: system-ui;
  color: #4e535b;
  height: 100%;
}
main{
  width: 76%;
  margin: 0 auto;
}
.main{
  height: 100%;
}
#logo{
  font-size: 28px;
  font-family: cursive;
  font-style: italic;
  color: #337ab7;
}
#logo-span{
  padding: 0 20px 0 20px;
  background-color: #efefef;
  color: #d9534f;
  border-radius: 7px;
}
.dropdown,{
  margin: 0;
  color: #6c757d;
  display: flex;
  justify-content: end;
  align-items: center;
}
.dropdown a{
  color: #6c757d;
  font-weight: 500;
}
.nav-link:focus, .nav-link:hover {
  color: #6c757d;
}
#dropdown-menu{
  left: 38%;
}
#dropdown-menu a{
  text-align: center;
  border-radius: 7px;
  margin: 0 auto;
  color: #6c757d;
}
.nav_border{
  border-bottom: 1px solid #6c757d;
}
#exit{
  width: 60%;
}
#exit:hover{
  background-color: #c9302c;
}


  h1{
    display: inline-block;
    margin: 0;
  }
  #plus{
    width: 40px;
    float: right;
    border-radius: 50%;
  }
  #plus:hover{
    box-shadow: 0 0 10px 0.1px rgba(123, 255, 0, 0.8);
    background-color: rgba(234, 255, 224, 0.8);
    transition: 250ms;
  }


  .card{
    border-radius: 7px;
    box-shadow: 0 0 8px 0.2px #ededed;
    border-left: 3px solid gainsboro;
  }
  .card-success{
    border-left: 3px solid green;
  }
  .card-archive{
    border-left: 3px solid black;
  }
  .worked{
    display: block;
    position: absolute;
    left: -4%;
    border: 3px dashed #f0ad4e;
  }
  .card-body{
    display: flex;
    min-height: 130px;
  }
  .responsible{
    display: flex;
    align-items: center;
    width: 24%;
    justify-content: space-around;
  }
  .responsible img{
    width: 72px;
    padding: 3px;
  }
  .responsible img:hover{
    transition: 0.3s;
    background-color: rgba(51, 122, 182, 0.16);
    transform: scale(1.1);
    border-radius: 7px;
  }
  .responsible img:hover ~ .responsible_fio{
    transition: 0.5s;
    opacity: 1;
  }
  .responsible_fio{
    position: absolute;
    color: #337ab7;
    font-size: 15px;
    opacity: 0;
    border-bottom: 2px solid #337ab7;
  }
  .responsible_fio :hover{
    display: block;
  }
  .responsible_show{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .responsible_show img{
    border: 1px solid;
    border-radius: 100%;
    width: 40px;
  }
.responsible_show img:hover{
  transition: 0.3s;
  background-color: rgba(51, 122, 182, 0.16);
  transform: scale(1.1);
  border-radius: 7px;
}
  .card-info{
    margin: 0 auto;
    min-width: 40%;
    max-width: 40%;
  }
  .card-info p{
    margin-bottom: 0;
  }
  time{
    top: -7px;
    right: 10px;
    position: absolute;
    padding: 3px;
    background-color: #efefef;
    border-radius: 3px;
    color: #6c757d;
    font-size: 13px;
  }
  .arrow-down{
    text-align: center;
    margin: 0 auto;
    margin-top: -20px;
    width: 4%;
  }
  .arrow-down:hover{
    background-color: #f6f6f6;
    border-radius: 5px;
    transition: 0.3s;
  }
  .arrow-down i{
    transform: rotate(45deg);
    border: solid #6c757d57;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    text-align: center;
  }


  .main_form{
    margin: 0 auto;
    width: 50%;
  }
  #submit{
    margin-top: 20px;
    margin-left: 0;
  }
  .buttons{
    align-items: end;
    display: flex;
    justify-content: flex-end;
  }
  .btn{
    margin: 3px;
  }
  .flash{
    position: fixed;
    right: 7px;
    bottom: 7px;
    font-size: 20px;
    z-index: 1;
    border-radius: 7px;
  }


  .view{
    display: flex;
    justify-content: space-between;
  }
  .go-back{
    position: absolute;
    left: 7%;
    top: 92px;
    border-radius: 50%;
  }
  .go-back img{
    width: 40px;
  }
  .go-back:hover{
    box-shadow: 0 0 10px 0.1px rgb(51, 122, 183);
    background-color: #fdfdfd;
    transition: 250ms;
  }
  .question-content{
    width: 60%;
    height: 100%;
    margin-right: 10px;
  }
  .question-content p{
    font-size: 16px;
    padding: 15px;
    margin: 0;
  }
  .description{
    border-radius: 20px;
    background-color: #fffcfca6;
    border: 1px solid #ffd7d7;
    box-shadow: 0 0 8px 0.2px #ededed;
  }
  .files{
    border-radius: 7px;
    background-color: #f8fff982;
    border: 1px solid #abffb3a6;
    box-shadow: 0 0 8px 0.2px #ededed;
    text-align: center;
    margin-top: 20px;
    color: #6c757d;
    z-index: 0;
  }
  .files p{
    opacity: 0.7;
    padding: 15px;
    margin: 0;
  }
  .background-files{
    margin-top: -44px;
    opacity: 0;
    z-index: 1;
  }
  .question-info{
    border-radius: 7px;
    background-color: #f5f5f542;;
    border: 1px solid #b7b7b77a;
    box-shadow: 0 0 8px 0.2px #ededed;
    margin-top: 20px;
    color: #6c757d;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .question-end{
    width: 100%;
    border-bottom: 3px solid #6c757d;
    opacity: 0.5;
  }
  .status{
    text-align: center;
  }
  .status h3{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #337ab7;
  }
  #question-id{
    position: fixed;
    bottom: 0;
    left: 5px;
    opacity: 0.7;
    padding: 0;
  }
  .comment{
    position: relative;
    height: 600px;
    width: 40%;
    border: 1px solid #337ab733;
    border-radius: 20px;
    padding: 15px;
    background-color: #efefef21;
    box-shadow: 0 0 8px 0.2px #ededed;
  }
  .content-comment{
    max-height: 370px;
    overflow-y: scroll;
  }
  .content-comment::-webkit-scrollbar-track {
    background-color: white;
  }
  .content-comment::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 100px 0 #337ab7;
}
  .comment form{
    position: absolute;
    bottom: 15px;
    width: 94%;
  }
  .message-buttons form {
    display: contents;
  }
  .h2-view{
    text-align: center;
    border-bottom: 3px solid #6c757d;
  }
  #h2-chat{
    margin: 6px 0 30px;
  }
  .message, .my_message{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h6{
    margin: 3px 0;
    color: #337ab7;
  }
  .message p{
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
  }
  .my_message p{
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #337ab71f;
    border-radius: 5px;
  }
  .message-buttons{
    font-size: 11px;
  }
  .message-buttons a{
    color: #6c757d;
    text-decoration: none;
  }
  .buttons_message{
    opacity: 0.6;
  }
  .message-buttons form button{
    border: none;
    background-color: #fdfdfd;
    color: #6c757d;
  }
  .message-buttons a:hover{
    opacity: 1;
    transition: 0.3s;
  }
  .buttons_message:hover{
    opacity: 1;
    transition: 0.3s;
  }


  #current-color{
    color: #ffffff;
    background-color: #337ab7;
  }


.info-message{
  color: #337ab7;
  margin-top: -25px;
  text-align: end;
  font-style: italic;
}


.files-container{
  margin-top: 20px;
  border: 2px dashed #6c757d7d;
  border-radius: 7px;
  padding: 5px;
}

.files-content{
  display: inline-block;
  text-align: center;
  padding: 14px;
}

.file{
  opacity: 0.6;
  width: 90px;
}

.link_title{
  color: #4e535b;
}
.link_title:hover{
  color: #4e535b;
}





.rotating {
  height: 2em;
  width: 2em;
  overflow: visible;
}

/* Transparent Overlay */
.rotating:before {
  content: '';
  background-color: #f0ad4e;
}

/* :not(:required) hides these rules from IE9 and below */
.rotating:not(:required) {
  /* hide "loading..." text */
  padding: 15px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.rotating:not(:required):after {
  content: '';
  display: block;
  font-size: 7px;
  width: 5px;
  height: 5px;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 3300ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: #f0ad4e 1.5em 0 0 0, #f0ad4e 1.1em 1.1em 0 0, #f0ad4e 0 1.5em 0 0, #f0ad4e -1.1em 1.1em 0 0, #f0ad4e -1.5em 0 0 0, #f0ad4e -1.1em -1.1em 0 0, #f0ad4e 0 -1.5em 0 0, #f0ad4e 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}