.clock {
  top: 5px;
  left: 5px;
  border-radius: 100%;
  position: absolute;
  background: #ffffff;
  border: 4px solid #6c757d;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.minute,
.hour {
  position: absolute;
  height: 12px;
  width: 4px;
  margin: auto;
  top: -30%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  transform-origin: bottom center;
  transform: rotate(0deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 100px;
}

.minute {
  position: absolute;
  height: 17px;
  width: 2px;
  top: -43%;
  left: 1px;
  background-color: #337ab7;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
  border-radius: 100px;
}

.second {
  position: absolute;
  height: 16px;
  width: 2px;
  margin: auto;
  top: -39%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100px;
  background: #d9534f;
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 7px;
  border-radius: 100px;
  background: white;
  border: 2px solid #1b1b1b;
  margin: auto;
  z-index: 1;
}